* {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  background-color: antiquewhite;
  width: 600px;
  height: 10vh;
  border-radius: 10px;
  text-align: center;
}
#form-div {
  padding: 5px;
  margin: 5px;
  width: 600px;
  background-color: aqua;
  border-radius: 10px;
}
#login-form {
  background-color: rgb(255, 255, 255);
  padding: 10px 50px 75px 150px;
  margin: 20px;
  border-radius: 10px;
  height: 22vh;
  /* margin-bottom: 10px; */
}
label {
  display: block;
  font-size: 20px;
}
input {
  width: 260px;
  height: 25px;
  border-radius: 5px;
}
#submit {
  margin-top: 10px;
  height: 30px;
  background-color: bisque;
}
#submit:hover {
  width: 260px;
  background-color: cadetblue;
}

ul li {
  width: 550px;
  margin: 10px 0px 5px 30px;
  padding: 5px 0px 5px 5px;
  list-style: none;
  color: white;
  border-radius: 5px;
  background-color: cadetblue;
}
.item-edt,
.item-del {
  width: 60px;
  margin: 2px;
  height: 30px;
  border-radius: 5px;
}

.item-del:hover {
  background-color: red;
  color: white;
}
.item-edt:hover {
  color: black;
  background-color: rgb(255, 255, 0);
}
